@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  overflow-x: hidden;
  
}


.menu-Links>a:hover {
color: blueviolet;
transition: 0.4s;
}

.section-one-image {
  background-image: url("./asset/Image/SectionOne.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3% 0% 22% 0%;
  background-color: black;
  opacity: 60%;
  
}
